header {
  color: white;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
}
.logoimg {
  max-width: 35px;
  margin-left: 25px;
}

#links {
  display: flex;
  align-content: right;
  margin-left: auto;
  margin-right: 25px;
  font-family: 'Roboto', sans-serif;
  color: #7d7c84;
}
a {
  padding-right: 5px;
  text-decoration: none;
}

.hero {
  display: flex;
  padding: 40px;
  background-color: white;
  align-items: top;
  justify-content: center;
}
.herotext {
  color: #88ab75;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  width: 350px;
}

button {
  align-items: center;
  background-clip: padding-box;
  background-color: #2d93ad;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-top: 20px;
}

button:hover,
button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.landscapeImage {
  max-width: 500px;
  margin-left: 60px;
  border-radius: 5px;
}

.cardtitle {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #2d93ad;
  margin-bottom: 25px;
}

.cards {
  display: flex;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.squares {
  max-width: 300px;
  border-radius: 10px;
}

.imagesCaptions {
  display: flex;
  align-items: center;
  display: flex;
  grid-template-rows: auto;
  justify-content: center;
  margin-bottom: 50px;
  gap: 260px;
  font-family: 'Roboto', sans-serif;
  color: #de8f6e;
}

.quotesection {
  background-color: #2d93ad;
}

.quoteSquare {
  max-width: 50%;
  text-align: center;
  margin-left: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.quote {
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
  margin-top: 30px;
}
.waltsignature {
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-left: 400px;
  font-size: 22px;
}

.callToAction {
  background-color: white;
  padding-top: 20px;
}

.actionBubble {
  background-color: #7d7c84;
  width: 650px;
  margin-left: 25%;
  border-radius: 20px;
  margin-top: 40px;
}

.actionText {
  margin: 12px;
  text-align: left;
  color: #eeeeee;
}
